.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 50%;
    max-width: 1440px;
    align-items: start;
}

/* Defualt size, viz6 is using this bc its the biggest */
.visualization {
    position: relative;
    width: 685px;
    height: 585px;
    box-sizing: border-box;
}

h1 {
    color: darkolivegreen;
    font-family: 'Comic Sans MS', cursive;
}

h2 {
    color: darkcyan;
    margin: 10px;
    font-family: 'Arial', sans-serif;
}

.whole_box{
    border: 2px solid black;
}

#vis7 {
    width: 640px;
}

#vis8 {
    width: 470px;
    height: 300px;
}
